.App {
  text-align: center;
  color: black;
}

.App-logo {
  height: 38vmin;
  width: 38vmin;
  pointer-events: none;
  border-radius: 50%;
  border: 5px solid whitesmoke;
}
p {
  color: whitesmoke;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  min-height: 100vh;
  background-image: url("./images/background.jpg");
  background-size: cover;
  display: flex;
  flex-direction: column;
  background-repeat: no-repeat;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: whitesmoke;
}

.App-link {
  color: #61dafb;
}

.icon-button {
  cursor: pointer;
  font-size: 1.5rem;
  line-height: 1.5rem;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  width: 2.6rem;
  margin-bottom: 10px;
  color: whitesmoke;
}
span {
  white-space: pre;
  color: white;
}

a:hover {
  color: rgb(116, 31, 31);
}
